body {
  margin: 0;
}

#content {
  position: relative;
  min-height: 100vh;
  min-width: 100vh;
}

#wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  
  height: 90vh;
  width: 90vh;
  /*background-color: red;*/
  /*min-height: 100vh;*/
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);

  height: 10vh;
  width: 10vh;
  background-color: black;
  border-radius: 5vh;

  z-index: 1;
}

.bar {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0, -50%);

  height: 1vh;
  width: 45%;

  -webkit-transform-origin: right;
}