body {
	margin: 0;
}

#content {
	position: relative;
	min-height: 100vh;
	min-width: 100vh;
}

#winner {
	text-align: center;
}

#wheelContainer {
	margin-left: auto;
	margin-right: auto;

	height: 90vh;
	width: 90vh;
}

#wheel {
	height: 90vh;
	width: 90vh;
}